* {
    margin: 0px;
    padding: 0px
}

* {
    border: crimson dotted 1px;
}

.container{
    width: 970px;
    min-height: 900px;
    margin: 0px auto;
    background-color: #c9c9c9;
}

.top {
    text-align: center;
}

.top img {
    width: 20%;
    margin: 10px;
    border: 2px black solid;
}

.bottom {
    text-align: center;
}

.bottom img {
    width: 20%;
    margin: 10px;
    border: 2px black solid;

}

.text {
    text-align: center;
}

.footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.footer button{
    
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #392310;
        border: none;
        border-radius: 15px;
        box-shadow: 0 3px rgb(0, 0, 0);
        margin-left: 10px;
        
}
